/* ids */

 * {
    --button-width:  500px;
 }
#index-page {
    padding: 0 2rem;
}

#index-page .row-container {
    justify-content: space-between;
}

#index-page .user-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#index-page button {
    border-width: 0;
    height: 3rem;
    margin-left: 2rem;
    width: 10rem;
    border: 3px solid var(--primary);
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
}

#index-page a {
    color: black;
}

/* index header css */
.logo {
    height: 5rem;
}


/* classess */

.contact {
    display: flex;
    flex-direction: row;
}

.contact-details ul {
    list-style-type: none;
}

.icon-container {
    display: flex;
    align-items: center;
}

.icon-container i{
    margin-left: 1rem;
}
.listing {
    max-width: 30vw;
    padding: 2rem;
}

.listing-container {
    display: flex;
    justify-content: space-around;
}

/* form */

.form-container {
    padding:  3rem;
    display:  flex;
    flex-direction:  column;
    align-items: center;
}


/*BOOK me button*/ 
button.book-me {
    padding-top: 5rem ;
    padding-bottom:  5rem;
    /*adding space to the top and buttom of button*/
    width:  var(--button-width);
    background-color:  var(--primary);
    border:  0px;
    margin-bottom:  1rem;
}

button:hover {
    cursor:  pointer;
}

#index-form {
    /*display:  flex;*/
    width:  var(--button-width);
    /*width:  100%;*/
}

input#job-tracking-number {
    /*border:  1px solid red;*/
    outline:  none;
    padding:  1rem;
    width:  100%;
    border-width:  0 0 1px 0;
    border-bottom:  1px solid black;
    background-color:  rgba(200,200,200,0.3);
    transition:  0.3s ease;
}

input#job-tracking-number:focus {
    border-bottom:  1px solid var(--primary);
}

input#job-tracking-number:focus + i.search {
    color: var(--primary)
}


i.search {
    position: absolute;
    transform:  translate(-30px, 15px)
}

i.search:hover {
    cursor:  pointer;
}

#icons:hover {
    color:white;
    cursor:  pointer;
}

/* faqs */

.faqs {
    padding: 0rem 3rem;
    margin-bottom:  3rem ;
}


details.first {
    border-top: 1px solid black; 
}



details {
    border-bottom: 1px solid black;
}

summary.question {
    padding: 1rem 1rem;
}

details > p.answer {
    padding: 1rem 1rem;
}
details:hover {
    cursor: pointer;    
}

