/* elements */

* {
    --primary: #2fcc76; 
    --accent: #7dfab6;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

footer {
    background-color: var(--primary);
}

/* classes */
.row-container {
    display: flex;
    flex-direction: row;

}

.column-container {
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

.hide {
    display: none;
}

.hidden {
    /* visibility:  hidden; */
    opacity: 0;
}

.center-children {
    display:  flex;
    justify-content: center;
    align-items:  center;
}

.click-through {
    z-index:  -1;
}

.spacer {
    flex-grow:  1;
}

a.icon {
    color: black;
}

